BUG BITMAP "inclide\\bug.bmp"
IBUG ICON "inclide\\icons\\bug.ico"
PLAN BITMAP "inclide\\plan.bmp"
IPLAN ICON "inclide\\icons\\plan.ico"
PROLIVKA BITMAP "inclide\\prolivka.bmp"
IPROLIVKA ICON "inclide\\icons\\prolivka.ico"
REPORT BITMAP "inclide\\report.bmp"
IREPORT ICON "inclide\\icons\\report.ico"
SQL BITMAP "inclide\\sql.bmp"
ISQL ICON "inclide\\icons\\sql.ico"
TREE BITMAP "inclide\\tree.bmp"
ITREE ICON "inclide\\icons\\tree.ico"
ISQLDARK ICON "inclide\\icons\\sqldark.ico"
IPLANDARK ICON "inclide\\icons\\plandark.ico"
ITREEF ICON "inclide\\icons\\tree_fluent.ico"
ITREEFDARK ICON "inclide\\icons\\tree_fluentdark.ico"
PLANDARK BITMAP "inclide\\icons\\plandark.bmp"
ISERVER ICON "inclide\\icons.1\\server_button_for_white_mode.ico"
ISERVERDARK ICON "inclide\\icons.1\\server_button_for_black_mode.ico"
